@keyframes animate-it {
  0%,
  100%,
  60%,
  80% {
    -webkit-transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(-5px);
  }

  40% {
    -webkit-transform: translateX(20px);
  }
}

@keyframes topp {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-0.5rem);
  }

  66% {
    transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}
