.ss-go-top {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 200%);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: fixed;
  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--color-pic);
  height: calc(1.2 * var(--space));
  width: calc(1.2 * var(--space));
  bottom: 2.5rem;
  right: 2.5rem;

  @media screen and (min-width: $bp-tablet) {
    bottom: 2.6rem;
    right: 3rem;
    height: calc(1.5 * var(--space));
    width: calc(1.5 * var(--space));
  }

  &.link-is-visible {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }

  & span {
    font-size: 24px;
    animation: topp linear 1.5s infinite paused;
    color: #fff;
    @media screen and (min-width: $bp-tablet) {
      font-size: 32px;
    }
  }
  &:hover span {
    animation-play-state: running;
    color: #fff;
  }
}
